.filters{
    background-color: #183F3A;
}

.filters form{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 0px 5%;
    margin: 3rem 0;
}

.filters select{
    width: 250px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    margin: 10px 0;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.filters button{
    width: 250px;
    height: 32px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #F9C0C9;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}