header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    background-color: #eaeaea;
    padding: 0px 5%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header img{
    height: 80px;
}

header .menu a{
    color: #183F3A;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 1rem;
}

header .menu a:hover{
    color: #DD9BA8;
}