header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    background-color: #eaeaea;
    padding: 0px 5%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header img{
    height: 80px;
}

header .menu a{
    color: #183F3A;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 1rem;
}

header .menu a:hover{
    color: #DD9BA8;
}

header #menu-button{
    display: none;
    border: none;
    background: none;
    font-size: 2rem;
    font-weight: 900;
}

@media (max-width: 992px) {
    header .menu {
        display: none;
    }

    header #menu-button{
        display: block;
    }

    header .menu.show-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 96px;
        left: 0;
        width: 100%;
        background-color: #eaeaeaa1;
        padding: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px)
    }

    header .menu a {
        margin: 5px 0;
    }
}