<header>
    <a href="/"><img src="/img/logo.png" alt="Logo Maison Propiedades" srcset=""></a>
    <div class="menu">
        <a href="/#nosotros">Nosotros</a>
        <a href="/venta">Venta</a>
        <a href="/alquiler">Alquiler</a>
        <a href="/destacados">Destacados</a>
        <a href="#contacto">Contacto</a>
        <% if (locals.userLogged) { %>
            <a href="/admin">ADMIN</a>
            <% } %>
    </div>

    <button id="menu-button">☰</button>
    <script>
        const menuButton = document.getElementById('menu-button');
        const menu = document.querySelector('.menu');

        menuButton.addEventListener('click', () => {
            menu.classList.toggle('show-menu');
        });
    </script>
</header>