<div>
    <a href="https://api.whatsapp.com/send?phone=+59893652153&text=%C2%A1Gracias%20por%20comunicarte%20con%20Inmobiliaria%20Maison%20Propiedades!%20%20%20A%20la%20brevedad%20nos%20comunicaremos%20con%20usted,%20para%20agilizar%20una%20respuesta%20eficiente%20comentenos%20%C2%BFC%C3%B3mo%20podemos%20ayudarle?" class="whatsapp-float" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>